<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrimonial : Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 mx-auto">
                <div class="card my-5">
                    <div class="card-body">
                        <h1 class="text-center display-3" sty>
                            <i class="fa fa-pagelines"></i>
                        </h1>
                        <center>
                            <h3>Welcome to Matrimonial</h3>
                        </center>
                        <h5 class="text-center"> Register Here</h5>

                        <div class="form-label-group">
                            <label>First Name</label>
                            <input type="name" id="first_name" class="form-control" name="name" placeholder="Name"
                                required autofocus />
                        </div>
                        <div class="form-label-group">
                            <label>Last Name</label>
                            <input type="name" id="last_name" class="form-control" name="name" placeholder="Name"
                                required autofocus />
                        </div>
                        <div class="form-label-group">
                            <label> Email </label>
                            <input type="email" id="user_email" class="form-control" name="email"
                                placeholder="Email address" required autofocus />
                        </div>
                        <div class="form-label-group">
                            <label> Password </label>
                            <input type="text" id="user_password" class="form-control" name="password"
                                placeholder="Password" required />
                        </div>
                        <div class="form-label-group">
                            <label> Phone No. </label>
                            <input type="number" id="user_phoneno" class="form-control" name="phoneno"
                                placeholder="Phone No." required />
                        </div>
                        <div class="form-label-group">
                            <label>Gender</label>
                            <select class="form-control" id="user_gender" name="gender" required>
                                <option name="Male" value="Male" selected>Male</option>
                                <option name="Female" value="Female">Female</option>
                                <option name="Other">Other</option>
                            </select>
                        </div>
                        <div style="margin:10px;">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" id="user_submit"
                                type="submit">
                                Register Here
                            </button>
                        </div>

                        <hr class="md-4" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/script/userRegister.js"></script>
</body>

</html>